<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INF2006 – Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome to INF2006</h1>
        <p class="subtitle">
            Cloud Computing with Flask
        </p>

        <div class="card">
            <p>
                This Flask application is set up with a clean project structure,
                virtual environment, and static asset separation.
            </p>
            <p>
                Testing the Auto Deploy Here!
            </p>
        </div>

        <footer>
            <p>INF2006 - Cloud Computing</p>
        </footer>
    </div>

</body>
</html>
